.container {
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto; 
    grid-template-rows: auto auto auto;
    padding : 2rem;
    justify-items: center;
}

.Cards {
    width: 400px; 
    height: 300px;
    border-radius: 10px;
    transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.1s ease;
    overflow: hidden;
    flex: 1 1 400px; 
}

.Cards h1 {
    margin: 0;
    color: white;
    text-align: center;
    line-height: 300px; 
    font-size: 2rem;
}

.Cards.initial {
    background-color: transparent;
}

.Cards.hovered {
    background: radial-gradient(circle at 50% 50%, rgba(0, 213, 255, 0.2), transparent 20%);
    box-shadow: 5px 5px 15px rgba(0, 213, 255, 0.5);
    border: 5px solid rgba(0, 213, 255, 0.5);
}

.featureIcons {
    width: 30%;
    height: auto;
    margin: 10px;
}
.featureName {
    font-size: 1.5rem;
}
.CardContent {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; 
}