.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    
    background: #000000;
    --gap: 5em;
    --line: 1px;
    --color: rgba(255, 255, 255, 0.2);
  
    background-image: linear-gradient(
        -90deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      ),
      linear-gradient(
        0deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      );
    background-size: var(--gap) var(--gap);
    height: 100vh;
  }

.Cards {
    width: 400px; 
    height: 300px;
    border-radius: 10px;
    transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.1s ease;
    overflow: hidden;
    flex: 1 1 400px; 
    margin: 0.5rem;
}

.Cards h1 {
    margin: 0;
    color: white;
    text-align: center;
    line-height: 300px; 
    font-size: 2rem;
}

.Cards.initial {
    background-color: transparent;
}

.Cards.hovered {
    background: radial-gradient(circle at 50% 50%, #aa00ff 0%, #3c00ff 100%);
    box-shadow: 5px 5px 15px rgba(170, 0, 255, 0.7); /* Use a solid color with transparency */
    border: 5px solid #aa00ff; /* Gradients aren't supported in borders */
}


.featureIcons {
    width: 30%;
    height: auto;
    margin: 10px;
}
.featureName {
    font-size: 1.5rem;
}
.CardContent {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; 
}