.course-card {
    background-color: rgba(13, 13, 13, 0.66);
    border-radius: 18px;
    box-shadow: 8px 8px 8px rgb(255, 255, 255);
    margin: 0.00001em;
    padding: 20px;
    width: 286px;
    height: 390px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    text-align: center;
    display:flexbox;
    flex-direction:column;
    align-items: center;
  }
  
  .course-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .course-card h3 {
    font-size: 20px;
    margin: 12px 0;
  }
  
  .course-card p {
    font-size: 16px;
    color: #ffffff;
  }
  
  .course-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
