.container {
    background-color: black;
    height: 125vh;
    justify-content: center;

}
.courseGrid {
    display:flex;
    
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    gap:15px;
} 