.course-details {
    text-align: center;
    padding: 20px;
  }
  
  .course-details img {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  
  .course-details h2 {
    font-size: 28px;
    margin: 16px 0;
  }
  
  .course-details p {
    font-size: 18px;
    color: #000000;
  }
  
  .course-details button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .course-details button:hover {
    background-color: #0056b3;
  }
  