.courseCard {
  width: 300px;
  height: 200px;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.courseCard:hover{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-image: none !important;
  background-color: white;
}

.courseCard img {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.courseCard .text-overlay {
  color: white;
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 10px;
}


.courseCard h3 {
  text-align: center;
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.courseCard p {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.contentWrapper {
  padding: 0.8rem;
  display: none;
}

.courseCard:hover .contentWrapper {
  display: block;
}

