.footer {
    background-color: #232833;
    color: #b5b5b7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}

.footerContent {
    display: flex;
    justify-content: space-evenly;
    gap: 6.5em;
    margin-top: 5px;
}

.footerLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    width: 50px; 
    margin-bottom: 10px;
}

.tagline {
    color: #ffffff;
}

.footerLinks {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.footerLinks ul {
    list-style: none;
    padding: 0;
    margin: 0 20px;
}

.footerLinks ul a {
    color: #b5b5b7;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.6;
}

.footerLinks ul a:hover {
    color: #ffffff;
}

.footerTitle {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
}

.footerBottom {
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    border-top: 1px solid #333;
    margin-top: 60px;
    color: #b5b5b7;
}

.footerBottom p {
    margin: 0;
}
.tagline{
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: bold;
}