.container {
  display: flex;
}

.nav {
  width: 250px;
  background-color: #000000; /* Black background */
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(255, 255, 255, 0.1); /* Subtle white shadow */
}

.ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.li {
  margin: 0;
}

.a {
  color: #cbd5e0; /* Equivalent to text-gray-400 */
  text-decoration: none;
  font-size: 19px;
  font-family: 'Arial', sans-serif;
  padding: 20px 20px ;
  display: block;
  font-weight:500;
  text-align: left;
  transition: color 0.3s ease; /* Equivalent to transition-colors and duration-300 */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Smooth transitions */
}

.a:hover {
  color: #ffffff; 
  border-left:3px solid #cbd5e0;
  background-color: #1a1a1a/* Equivalent to hover:text-white */
}

.a:active {
  background-color: #333333; /* Darker gray on active */
}

.nav{
.btn {
  color: #cbd5e0; /* Equivalent to text-gray-400 */
  text-decoration: none;
  border:0px;
  border-radius: 0px;
  font-size: 19px;
  font-family: 'Arial', sans-serif;
  padding: 20px 20px ;
  display: block;
  font-weight:500;
  background-color: #000000;
  text-align: left;
  transition: color 0.3s ease; /* Equivalent to transition-colors and duration-300 */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Smooth transitions */
  width: 100%;
}

.btn:hover {
  color: #ffffff; 
  border-left:3px solid #cbd5e0;
  background-color: #1a1a1a /* White text on hover */
}
.btn:active{
  background-color: #333333;
  border:0px;
}
}
