.container {
    background: white;
    color: #333333; 
    font-family: Arial, sans-serif;
    width: 80vw;
    padding: 20px;
    border-radius: 10px; 
    overflow: hidden;
    height: auto; /* Let the height adjust based on content */
    /* border: 2px solid red; */
}

.videoContainer {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 4px 4px 10px rgba(0, 0, 0);
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1.5rem;
}

.heading {
    font-size: 2rem; /* Font size for headings */
    padding: 1rem; /* Space below headings */
    text-align: center;
    /* border: 2px solid red; */

}

.videoIframe {
    width: 70%; 
    height: 600px; 
    border-radius: 2rem;
    margin: 1rem;
    padding:1rem;

}
